@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");
.main {
  font-family: "Mali", cursive;
}

input:focus {
  outline: none;
}
